<template>
  <div>
    <HelloWorld />
    <Detail />
    <Footer />
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
import Footer from '@/components/Footer.vue'
import Detail from '@/components/Detail.vue'

export default {
   name: 'About',
  components: {
    HelloWorld,
    Footer,
    Detail
  }
}
</script>