<template>
  <div>
    <HelloWorld />
    <Stock />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Footer from '@/components/Footer.vue'
import Stock from '@/components/Stock.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    Footer,
    Stock
  }
}
</script>
<style>
@import '../assets/css/bootstrap.css';
@import '../assets/css/manual.css';
@import '../assets/css/animate.css';
@import '../assets/css/bootstrap-responsive.min.css';
@import '../assets/font-awesome-4.7.0/css/font-awesome.min.css';
</style>
