<template>
  <div>
    <div class="main-container-4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 mb">
                    <div class="person-card ">
                        <div class="person-img">
                                <img src="http://via.placeholder.com/742x388" alt="" class="img">
                        </div>
                    </div>
                      <div class="person-content">
                        <p class="col-6"><a class="title-white">Title:</a></p>
                        <div class="col-6"><i class="fa fa-user-o" style="color: #BFBFBF; font-size: 16px;" aria-hidden="true"></i><p  style="color: #BFBFBF; font-size: 16px;">By Team Digital</p></div>   
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et. </p>
                      </div>            
                      <div class="tab">
                        <button style="color:#F47932;" class="tablinks" v-on:click="openCity(event, 'London')">แผนงาน</button>
                        <button style="color:#F47932;" class="tablinks" v-on:click="openCity(event, 'Paris')">ความคืบหน้า</button>
                        <button style="color:#F47932;" class="tablinks" v-on:click="openCity(event, 'Tokyo')">Comment</button>
                      </div>

                      <div id="London" class="tabcontent">
                        <h3>London</h3>
                        <p>London is the capital city of England.</p>
                      </div>

                      <div id="Paris" class="tabcontent">
                        <h3>Paris</h3>
                        <p>Paris is the capital of France.</p> 
                      </div>

                      <div id="Tokyo" class="tabcontent">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                      </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 mb"></div>
                <div class="col-lg-5 col-md-5 col-sm-5 mb">
                <div class="scale-area">
                        <h6 class="text-fw">ได้สนับสนุนแล้ว</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">เป้าหมาย</h6>
                        <div class="scale clearfix">
                            <div class="scale-bar-1" data-percent="43"></div>
                            <div class="scale-bar-percent">43%</div>
                        </div>
                        <h6 class="text-fw">5730.00 บาท</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">112000.00 บาท</h6>
                    </div>
                    <div class="">
                            <h6 class="text-center text-fwb col-lg-4 col-md-4 col-sm-4 col-4" style="padding-right:10px;padding-left:10px;">43%<br>ระดมทุนเเล้ว</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-4 col-md-4 col-sm-4 col-4" style="padding-right:10px;padding-left:10px;">100<br>ผู้บริจาค</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-4 col-md-4 col-sm-4 col-4" style="padding-right:10px;padding-left:10px;">25<br>วัน</h6>
                        </div>
                        <br>
                        <div class="">
                            <div class="buttons col-lg-12 col-md-12 col-sm-12 col-12 text-center" style="padding-right:0px;padding-left:10px;">
                                <a href="single-causes.html" class=" red-btn red-btn-4" style="padding: 12px 55px;margin-top: 0px;border-radius: 5px;"><i class="fa fa-heart" aria-hidden="true"></i> ร่วมบริจาค</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Detail',
  methods: {
  openCity: function (evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}  
  },
}
</script>

<style scoped>
.tab {
  overflow: hidden;
  border: 2px solid #F47932;
  border-radius: 3px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 54.9px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

