<template>
  <div>
       <footer class="bg-secondary">
            <div class="footer-container">
                <div class="container">
                    <div class="row">
                        <div class="footer-content">
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-about-info">
                                    <img class="text-left" style="margin-bottom: 20px;" border="0" src="../assets/images/logo-party-white.png" width="273" height="76">
                                    <h4 class="text-anakotmai text-left">ติดต่อเรา</h4>
                                        <div class="social-link footer-social-link text-left">
                                            <ul>
                                                <li><a href="https://www.facebook.com/"><img border="0" src="../assets/images/icon social/facebook.png" width="28" height="28"></a></li>
                                               
                                                <li><a href="https://www.twitter.com/" ><img style="margin-left: 10px;" border="0" src="../assets/images/icon social/twitter.png" width="28" height="28"></a></li>
                                               
                                                <li><a href="https://instagram.com/"><img style="margin-left: 10px;" border="0" src="../assets/images/icon social/IG.png" width="28" height="28"></a></li>
                                                
                                                <li><a href="https://www.youtube.com/"><img style="margin-left: 10px;" border="0" src="../assets/images/icon social/youtube.png" width="28" height="28"></a></li>
                                              
                                                <li><a href="https://mail.google.com/"><img style="margin-left: 10px;" border="0" src="../assets/images/icon social/letter.png" width="28" height="28"></a></li>
                                              
                                                <li><a href="https://line.me/th/"><img style="margin-left: 10px;" border="0" src="../assets/images/icon social/line.png" width="28" height="28"></a></li>
                                            </ul>
                                        </div>
                                    <br><br><p class="text-anakotmai text-left"><br> สํานักงานคณะอนาคตใหม่<br> 
                                        1768 อาคารไทยซัมมิท ชั้น 5 ถนนเพชรบุรี<br>
                                        แขวงบางกะปิ เขตหว้ยขวาง กรงุเทพมหานคร 10310<br>
                                        <i class="fa fa-phone" aria-hidden="true"></i>02 821 5688
                                        </p>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb pull-right">
                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFWPthailand%2F&tabs=timeline&width=400&height=242&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2393821564166620" width="400" height="242" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            </div>
        
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
</style>

