<template>
  <div>
   <div class="menuBar">
        <nav class="navbar mainNav bg-secondary navbar-default ">
            <div class="container p0">
                <div class="navbar-header">
                    <div class="logo">
                        <a href="index.html" class="navbar-brand">
                            <img src="../assets/images/logo-party-white.png" width="273" height="76" alt="Homepage logo">
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="navbar-right">
    
                    <div id="navbar-menu" class="collapse navbar-collapse ">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false" title="Home">หน้าเเรก</a>
                            </li>
                            <li class="dropdown features-menu">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false" title="Features">โครงการ</a>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false" title="News">เเจ้งชำระเงิน</a>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false" title="Shop">ติดต่อเรา</a>
                            
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>

<style scoped>
</style>
