<template>
  <div>
    <div class="main-container-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h2 class="title-text text-left">การบริจาค</h2>
                            </div>
                            <div class="text-right">
                                <button class="btn-fw">บริจาคให้พรรค</button>
                            </div>
                </div>
            </div>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <button v-on: click="selectedSort = 'All Project'" v-bind:class="{ active: selectedSort == 'All Project'}" class="btn-sort"><div class="img-sort"></div>Project</button>
                    <button class="btn-sort1"><div class="img-sort1"></div>Popular</button>
                    <button class="btn-sort2"><div class="img-sort2"></div>IT</button>
                    <button class="btn-sort3"><div class="img-sort3"></div>Environment</button>
                    <button class="btn-sort4"><div class="img-sort4"></div>Economic</button>
                </div>
            </div>
            <br><br>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 mb">
                    <div class="person-card ">
                        <div class="person-img">
                             <router-link to="/about" class="img-link">
                            <!-- <a href="our-causes.html" class="img-link"> -->
                                <span><i class="icon-eye" aria-hidden="true"></i></span>
                                <img src="http://via.placeholder.com/370x300" alt="" class="img">
                            <!-- </a> -->
                            </router-link>
                        </div>
                        <div class="person-content">
                            <h3><a href="our-causes.html" class="title-white">Provide Treatment</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et. </p>
                        </div>
                    </div>
                    <div class="scale-area">
                        <h6 class="text-fw">ได้สนับสนุนแล้ว</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">เป้าหมาย</h6>
                        <div class="scale clearfix">
                            <div class="scale-bar-1" data-percent="43"></div>
                            <div class="scale-bar-percent">43%</div>
                        </div>
                        <h6 class="text-fw">5730.00 บาท</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">112000.00 บาท</h6>
                    </div>
                    <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">43%<br>ระดมทุนเเล้ว</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">100<br>ผู้บริจาค</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-1 col-md-1 col-sm- col-1" style="padding-right:10px;padding-left:10px;">25<br>วัน</h6>
                        </div>
                        <div class="">
                            <div class="buttons col-lg-5 col-md-5 col-sm-5 col-5 text-right" style="padding-right:0px;padding-left:10px;">
                                <a href="single-causes.html" class=" red-btn red-btn-4"><i class="fa fa-heart" aria-hidden="true"></i> ร่วมบริจาค</a>
                            </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 mb">
                    <div class="person-card ">
                        <div class="person-img">
                            <a href="our-causes.html" class="img-link">
                                <span><i class="icon-eye" aria-hidden="true"></i></span>
                                <img src="http://via.placeholder.com/370x300" alt="" class="img">
                            </a>
                        </div>
                        <div class="person-content">
                            <h3><a href="our-causes.html" class="title-white">Education to Every Child</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et. </p>
                        </div>
                    </div>
                    <div class="scale-area">
                        <h6 class="text-fw">ได้สนับสนุนแล้ว</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">เป้าหมาย</h6>
                        <div class="scale clearfix">
                            <div class="scale-bar-1" data-percent="87"></div>
                            <div class="scale-bar-percent">87%</div>
                        </div>
                        <h6 class="text-fw">5730.00 บาท</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">112000.00 บาท</h6>
                    </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">87%<br>ระดมทุนเเล้ว</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">100<br>ผู้บริจาค</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-1 col-md-1 col-sm- col-1" style="padding-right:10px;padding-left:10px;">25<br>วัน</h6>
                        </div>
                        <div class="">
                            <div class="buttons col-lg-5 col-md-5 col-sm-5 col-5 text-right" style="padding-right:0px;padding-left:10px;">
                                <a href="single-causes.html" class=" red-btn red-btn-4"><i class="fa fa-heart" aria-hidden="true"></i> ร่วมบริจาค</a>
                            </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="person-card ">
                        <div class="person-img">
                            <a href="our-causes.html" class="img-link">
                                <span><i class="icon-eye" aria-hidden="true"></i></span>
                                <img src="http://via.placeholder.com/370x300" alt="" class="img">
                            </a>
                        </div>
                        <div class="person-content">
                            <h3><a href="our-causes.html" class="title-white">Patient and Family Support</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et. </p>
                        </div>
                    </div>
                    <div class="scale-area">
                        <h6 class="text-fw">ได้สนับสนุนแล้ว</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">เป้าหมาย</h6>

                        <div class="scale clearfix">
                            <div class="scale-bar-1 stop" data-percent="62"></div>
                            <div class="scale-bar-percent">62%</div>
                        </div>
                        <h6 class="text-fw">5730.00 บาท</h6>
                        <h6 style="padding-top: 13px;" class="pull-right text-fw">112000.00 บาท</h6>  
                    </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">62%<br>ระดมทุนเเล้ว</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-3 col-md-3 col-sm-3 col-3" style="padding-right:10px;padding-left:10px;">100<br>ผู้บริจาค</h6>
                        </div>
                        <div class="">
                            <h6 class="text-center text-fwb col-lg-1 col-md-1 col-sm- col-1" style="padding-right:10px;padding-left:10px;">25<br>วัน</h6>
                        </div>
                        <div class="">
                            <div class="buttons col-lg-5 col-md-5 col-sm-5 col-5 text-right" style="padding-right:0px;padding-left:10px;">
                                <a href="single-causes.html" class=" red-btn red-btn-4"><i class="fa fa-heart" aria-hidden="true"></i> ร่วมบริจาค</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Stock'
}
</script>

<style scoped>
</style>

